.btn{
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 0.4rem 1.4rem;
    font-size: 1.2rem;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-top: 8px;
}

.btn-primary{
    color: #182848;
    font-weight: bold;
    background-color: #5b84c4;
}
.btn-danger{
    color: #182848;
    font-weight: bold;
    background-color: #f65d52;
}

.button-row{
    display: flex;
    align-items: flex-start;
}
.btn-row>*{
    margin-left: 0.3rem;
}
.btn-row>*:first-child{
    margin-left: 0;
}