.header-title{
    color: var(--color-text-light);
    color: #161b21;
    margin-left: 10px;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 2px;
    transition: all 0.3s ease-in-out;
}

.header-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    margin-top: 1rem;
    height: 75px;
    padding:0px 20px;
    border-radius: 4px;
    background-color: #5b84c4;
    border-top: 0;
}

.header-nav ul{
    display: flex;
    margin: 0;
    padding: 0;
}
.header-nav ul li{
    list-style: none;
}
.header-nav ul a{
    text-decoration: none;
    color: var(--color-text-light);
    color: #161b21;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    transition: all 0.3s ease-in-out;
}